@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

@font-face {
  font-family: "BPG Nino Mtavruli Bold";
  font-style: normal;
  font-weight: normal;
  src: local("BPG Nino Mtavruli Bold"),
    url("./assets/Jobs/bpg_nino_mtavruli_bold.woff") format("woff");
}

@font-face {
  font-family: "FiraGO-SemiBold";
  font-style: bold;
  font-weight: bold;
  src: local("FiraGO-SemiBold"),
    url("./assets/Home/FiraGO-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "FiraGO-Regular";
  font-style: normal;
  font-weight: normal;
  src: local("FiraGO-SemiBold"),
    url("./assets/Home/FiraGO-Regular.woff") format("woff");
}

@import url("assets/styles/global.css");
@import url("assets/styles/utils.css");

/* components */
@import url("assets/styles/Loader.css");

#root {
  overflow-x: hidden;
}
* {
  max-width: 100vw;
  scroll-behavior: smooth;
}
img {
  pointer-events: none;
}

.content-container {
  width: 80%;

  margin: 0 auto;
}

.content-container.is-blog {
  width: 90%;
  flex-direction: column;
}

.Main__header {
  position: fixed;
  width: 100vw;

  height: auto;
  top: 0;
  display: block;
  transition: top 0.3s ease-in-out;
  /* margin-bottom: 50px; */
  font-family: "FiraGo-SemiBold";
  font-style: normal;
  font-weight: 400 !important;
  font-size: 25px !important;
  line-height: 30px !important;
  background: white;
}
.Header__Nav {
  /* gap: 3rem; */
}
.Header__Nav > a {
  /* margin-right: 3rem; */
  margin-left: 3rem;
}
.Burger__header {
  display: none;
}

.Main__header--hidden {
  top: -200px;
  /* margin: 0; */
}
.Main__header__Nav {
  justify-content: space-evenly;
  width: 100%;

  align-items: center;
}

/* 
---------------------
AboutUs \
------------------- */
.AboutUs__Main {
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.wasteProblem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  /* margin: 0 0 0 0; */
  /* background-color: yellow; */
}

.wasteProblemImgDiv {
  width: 50vw;
  /* height: 700px; */
  /* height: 100%; */
}

.wasteProblemTextDiv {
  max-width: 40vw;
  margin-right: 5vw;
  /* background-color: pink; */
  /* width: 50vw; */
  /* padding: 0 50px;
  margin-top: 3rem; */
}

.wasteProblemTextDiv > h1 {
  /* background-color: blue; */
  text-align: center;
  font-family: "FiraGo-SemiBold";
  font-weight: 400;
  font-size: 35px;
  line-height: 40px;
  margin: auto;
}

.wasteProblemTextDiv > body {
  /* background-color: aqua; */
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  text-align: justify;
  margin: auto;
}

.solutionTextDiv {
  max-width: 40vw;
  margin-left: 5vw;

  /* padding: 0 28px; */
}

.solutionTextDiv > h1 {
  text-align: center;
  font-family: "FiraGo-SemiBold";
  font-weight: 400;
  text-align: center;
  font-family: "FiraGo-SemiBold";
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  margin: auto;
}
.solutionTextDiv > body {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  text-align: justify;
  margin: auto;
}

.founded {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
}
/* 
.foundedImgDiv {
  width: 375px;
  height: 375px;
  background: #c4c4c4;
  border-radius: 50%;
} */

.foundedImg {
  /* width: 375px;
  height: 375px;
  color: #c4c4c4; */
  /* width: 100%;
  height: 100%; */

  margin-right: 5vw;
  margin-left: 5vw;
  max-width: 350px;
  max-height: 350px;
}

.foundedTxt {
  max-width: 424px;
  /* margin-left: 3rem; */
  margin-top: 3rem;
  margin-left: 5vw;
  margin-right: 5vw;
}
.foundedTxt > h1 {
  text-align: center;
  font-family: "FiraGo-SemiBold";
  font-weight: normal;
  font-style: normal;
  font-size: 35px;
  line-height: 42px;
  color: black;
}
.foundedTxt > body {
  font-family: Roboto;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  text-align: left;
}

.partners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.partnersTxt {
  text-align: center;
}
.partnersTxt > h1 {
  font-family: Russo One;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  line-height: 42.18px;
  color: #ff8298;
  margin: 3rem 0;
}
.partnersTxt > h2 {
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;
  font-size: 25px;
  line-height: 29px;
  margin-bottom: 1.5rem;
}
.partnersImg {
  width: 1440px;
  height: 261px;
  /* color: aqua; */
  background: aqua;
}

.partnersImgMain {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: rgba(196, 196, 196, 0.1);
  width: 100%;
  justify-content: center;
  align-items: center;
}
.partnersImgRow1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 700px;
}
.partnersImgRow1 > img {
  color: black;
  height: 100px;
  width: 100px;
}

/* -------------------------------
Business
------------------------------- */
/* 
* {
  font-family: Source Sans Pro;
} */

.Header {
  display: flex;
  background: rgba(80, 192, 255, 0.68);
  justify-content: space-around;
  align-items: center;
  padding: 3rem 2rem;
  margin-top: 10rem;
}
.Header__features {
  /* text-align: center; */
  color: #ffffff;
}
.Header__features-title {
  font-weight: 900;
  font-size: 30px;
  line-height: 37.7px;
  margin-bottom: 2rem;
}

.Header__features-container {
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
}

.Header__feature-container {
  margin-bottom: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* gap: 1rem; */
}
.Header__feature-container > img {
  margin-right: 1rem;
}
.Header__contact-container {
  min-width: 300px;
  width: 40vw;

  margin-right: 6rem;
  margin-left: 6rem;
  position: relative;
}
.Header__message-overlay {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  /* background-color: #000; */
  position: absolute;
  backdrop-filter: blur(6px);

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  padding: 2rem 1rem;
  gap: 2rem;
}

.Header__message-overlay > h3 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
}

.Header__contact {
  width: 100%;
  background-color: white;
  padding: 2rem 3rem;
  /* width: min(50vw, 400px); */

  border-radius: 15px;
}

.Header__contact > h2 {
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: 700;
  font-size: 30px;
  line-height: 37.7px;
  color: #ff8298;
  text-align: center;
  margin-bottom: 20px;
}

.Header__contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 3px solid #a59f9f;
  padding-top: 20px;
  /* gap: 1rem; */
  margin-bottom: 1rem;
}
.Header__contact-form > div {
  margin-bottom: 1rem;
}
.Header__form-field {
  display: flex;
  flex-direction: column;
}

.Header__form-field > input {
  outline: 0;
  border: 0;
  border-bottom: 1px solid #a59f9f;
}

.Header__contact-form > button {
  background-color: #ff8298;
  border: 0;
  color: white;
  font-weight: bold;
  border-radius: 15px;
  padding: 0.5rem 0;
  outline: 0;
}

.Process {
  width: 100%;
  margin: 1rem 0;
}

.Process__title {
  font-family: "FiraGo-SemiBold";
  font-weight: 400;
  font-size: 40px;
  line-height: 48.2px;
  text-align: center;
  margin: 2rem 1rem 0;
  color: #ff8298;
}

.Process__steps {
  background-color: #ff8298;
  color: white;
  padding-top: 2rem;
  width: 100vw;

  /* padding-left: 3rem; */
  display: flex;
  flex-direction: column;
  /* gap: 3rem; */
  padding: 4rem 0;
  margin-top: 4rem;

  justify-content: center;
  align-items: center;
  /* margin-left: 4rem; */
}

.Process__step {
  display: flex;
  flex-direction: row;
  /* gap: 5rem; */
  align-items: flex-start;
  /* margin: 3rem 3rem; */

  margin: 0 2rem;
  margin-bottom: 3rem;
}
.Process__step > div {
  margin-left: 4rem;
  margin-bottom: 3rem;
}

.Process__counter {
  height: 90px;
  width: 90px;
  min-width: 90px;
  border-radius: 50%;
  font-family: Roboto;
  font-weight: 500;
  font-size: 55px;
  line-height: 64.5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-1 {
  background: #f30072;
}
.step-2 {
  background: #50c0ff;
}

.step-3 {
  background: #ffd600;
}

.Process__image {
  width: 544px;
  height: 612px;
  object-fit: cover;
  border-radius: 15px;
  display: inline-block;
  margin: 0 auto;
}

.Process__step-content {
  max-width: 590px;
  margin: 0;
  margin-right: 1rem;
}
.Process__step-content > h2 {
  margin: 50px 0;
}

.Process__step-content__title {
  font-family: Roboto;
  font-weight: 500;
  font-size: 35px;
  line-height: 41px;
  /* width: 100vw; */
}
.Process__step-content > h2 {
  font-family: Roboto;
  font-size: 25px;
  line-height: 29px;
  /* width: 100vw; */
}
/* ------------------------------
Jobs
------------------------------ */
.Jobs {
  margin-top: 10rem;
}
.Jobs__header {
  padding: 0 3rem;
  width: 100vw;

  height: 823px;
  background-repeat: no-repeat;
  background-size: cover;

  background-image: url("./assets/Jobs/jobsHome.png");

  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
  justify-content: space-between;
  padding-top: 7rem;
  align-items: center;
  text-align: center;
}
.Jobs__header_button_caret {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Jobs__header > h1 {
  color: #ffffff;
  font-family: Poppins;
  font-weight: 700;
  font-style: normal;
  font-size: 50;
  line-height: 75px;
  max-width: 1105px;
  padding-bottom: 3rem;
}
.Jobs__header__button {
  background-color: #ff8298;
  border-radius: 20px;
  font-family: Open Sans;
  font-weight: 800;
  font-style: normal;
  font-size: 30px;
  line-height: 40.8px;
  color: #ffffff;
  width: 424px;
  height: 80px;
}
.caret {
  width: 50px;
  height: 50px;
}
.Jobs__content {
  margin: 5rem;
}
.Jobs__content > h1 {
  font-family: Source Sans Pro;
  font-weight: 700;
  font-style: normal;
  font-size: 45px;
  line-height: 56.5px;
  color: #ff8298;
  /* max-width: 584px; */
}

.Jobs__content > h2 {
  font-family: Source Sans Pro;
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
  line-height: 37.7px;
  color: black;
  /* max-width: 1281px; */
  text-align: left;
}
.Culture {
  background-color: rgba(255, 130, 152, 0.94);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2rem 10rem;
}
.Culture > img {
  max-width: 385px;
  max-height: 286px;
}
.Culture__content {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  /* padding-right: 7rem; */
}
.Culture__content > h1 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 57px;
  color: #ffffff;
  margin-left: 10rem;
}
.Culture__content > h2 {
  text-align: left;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  color: #ffffff;
  margin: 2rem 0;
}
.JobsOpening {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 7vw;
}

.JobsOpening > Table {
  /* margin: 5vw; */
  padding-left: 500px;
  padding-right: 5vw;
}
.JobsOpening > h1 {
  font-family: Source Sans Pro;
  font-weight: 700;
  font-style: normal;
  font-size: 45px;
  line-height: 56.5px;
  margin-bottom: 3rem;
}
.JobsOpening > Table > tbody > tr:nth-child(2n) {
  background-color: rgba(255, 130, 152, 0.6);
}
.JobsOpening > Table > tbody > tr > td {
  font-family: Source Sans Pro;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  line-height: 40.2px;
  color: #000000;
}
.JobsOpening > Table > tbody > tr > td > img {
  max-width: 35px;
  max-height: 23.3px;
}

.Job__post {
  margin-top: 10rem;
}
.Job__post_header {
  /* background: url(./assets/Jobs/softwareDeveloper.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px; */
  position: relative;
  z-index: -1;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Job__post_header > .content {
  position: absolute;
}
.Job__post_header > .content > h1 {
  font-family: Source Sans Pro;
  font-weight: 900;
  font-style: normal;
  font-size: 50px;
  line-height: 62.85px;
  color: #ffffff;
}
.Job__post_header > .img-container {
  width: 100%;
  height: 320px;
  overflow-y: hidden;
}
.Job__post_header > .img-container > img {
  width: 100%;
}
.Job__post_header > .content > h2 {
  font-family: "BPG Nino Mtavruli Bold";
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  line-height: 34.5px;
  color: #ffffff;
  text-align: center;
}
.Job__post_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4rem 5rem;
}
.Job__post_content > p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
}
.Job__post_content > h2 {
  font-family: Open Sans;
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
  line-height: 40.8px;
  color: #000000;
  text-align: left;
  margin: 3rem 0;
}
.Job__post_content > button {
  background-color: #ff8298;
  width: 390px;
  height: 80px;
  border-radius: 20px;
  border: none;

  color: #ffffff;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 41px;
}
/* 
-----------------------------
TermsAndConditions
Privacy Policy
CookiePolicy
----------------------------- */

.legalMain {
  background-color: rgba(255, 130, 152, 0.33);
  padding: 20px 50px;
  font-family: Russo One;
  margin-top: 10rem;
  margin-bottom: 3rem;
}
.legal {
  background-color: rgba(255, 255, 255, 1);
  /* opacity: 100%; */
  padding: 20px 40px;
  /* margin: 50px 50px; */
}
.legal > h1 {
  font-family: Russo One;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 42px;
}
.legal > h4 > h2 {
  font-family: Russo One;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  line-height: 41px;
}
.legalMyBody {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  line-height: 41px;

  background-color: rgba(255, 255, 255, 1);
  text-align: left;
}

/* 
-----------------------------
footer
-----------------------------
*/
.Footer {
  background-color: #f3f3f3;
  /* position: sticky; */
  bottom: 0;
  width: 100vw;
  padding: 3.5rem 0 1rem 0;
}
.footer-icon {
  color: #a1a4b2;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 100ms linear;
}
.footer-icon:hover {
  color: #c4e098;
}
.footer-logo {
  margin-bottom: 2rem;
  width: 75px;
  cursor: pointer;
}

.cto-button {
  height: 35px;
  cursor: pointer;
}

.footer-SocialIcons {
  display: flex;
  /* gap: 1rem; */
  margin: 2rem 0 2rem 0;
}
.footer-SocialIcons > img,
.footer-SocialIcons > a {
  margin-right: 1rem;
}

.footer-address {
  color: #a5a2a3;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  transform: translate(-12%);
}

.footer-Navbar {
  display: flex;
  flex-direction: column;
  /* gap: 0.75rem; */
  /* text-align: l; */
}
.footer-Navbar > h4,
.footer-Navbar > a {
  margin-bottom: 0.75rem;
}

footer-Navbar > Link {
  font-size: 1.25rem;
  cursor: pointer;
  transition: all 250ms ease;
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 30px;
  line-height: 37.71px;
}

.footer-Navbar > h4.footer-Navbar-title {
  color: #a39f9f;
  font-weight: bold;
  margin-bottom: 1.5rem;
  cursor: text;
}

.footer-Navbar > h4.footer-Navbar-title:hover {
  opacity: 1;
}

.footer-Navbar > h4:hover {
  opacity: 0.8;
}
.HomeScreen1 {
  width: 100vw;
  margin: 150px 0;
  /* justify-content: center; */
  /* align-content: center; */
}

/* 
------------------
HomeScreen1
------------------ */

.HomePicContainer {
  position: relative;
}

.HomeScreen1-homePic {
  width: 100vw;
}

.SocialIcons-HomeScreen {
  position: absolute;
  bottom: 20%;
  right: 27%;
  display: flex;
  flex-direction: column;
}
.googlePlay {
  height: 42px;
}

.HomeScreen1-title {
  color: #ff8298;
  font-family: "FiraGo-SemiBold";
  font-weight: 400;
  margin: 4rem 10rem 0 10rem;
}
.HomeScreen1Content {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  text-align: center;
  margin-top: 3rem;
}
.HomeScreen1Content > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.HomeScreen1-nav {
  font-family: "FiraGo-SemiBold";
  margin-top: 2rem;
}
.HomeScreen1NavImg {
  /* margin: 100px; */
  width: 200px;
  height: 200px;
}

.Home__callToAction {
  width: 100%;
  background: url("/src/assets/Home/pizza.jpg");
  min-height: 640px;
  height: auto;
  z-index: 10;
  background-size: cover;
  background-repeat: no-repeat;

  position: relative;
  margin-top: 13rem;
}

.CallToAction__element {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #ff82a6;
  width: 900px;
  height: 800px;
  border-radius: 100% 0 0 0;
}
.CallToAction__element_Img {
  display: none;
}

.CallToAction__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  padding-top: 22rem;
  padding-left: 10rem;
  padding-bottom: 20px;

  /* align-items: center; */
}

.CallToAction__content > h1 {
  text-align: right;
  z-index: 10;
  color: white;
  font-weight: bold;
  font-size: 46px;
  /* margin-top: 3rem; */
  /* text-align: center; */
}

.CallToAction__buttons-container {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  -webkit-flex-wrap: wrap;
  /* display: grid; */
  /* grid-template-columns: repeat(2, 300px); */
  justify-content: flex-end;
  /* gap: 2rem; */
  z-index: 10;
  margin-top: 2rem;
}

.CallToAction__button {
  background-color: white;
  padding: 0.5rem 3rem;
  color: black;
  border-radius: 12px;
  border: 0;
  outline: 0;
  font-weight: bold;
  margin: 0 2rem 2rem 0;
  width: 250px;
}

/* 
------------------
HomeScreen2
------------------ 
*/
.HomeScreen2 {
  margin-bottom: 5rem;
}

.HomeScreen2H4 {
  color: #50c0ff;
  font-family: "Russo One", sans-serif;
  margin: 50px 2rem;
  font-weight: 400;
  font-size: 50px;
}
.HomeScreen2Body {
  font-family: Roboto;
  font-weight: 400;
  margin: 0px 100px 2rem 2rem;
  font-size: 25px;
  line-height: 29px;
}
.HomeScreen2Wastage {
  width: 100vw;
  background: rgba(255, 130, 152, 0.8);

  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0;
}
.HomeScreen2WastageImg {
  width: 300px;
  height: 300px;
}

.HomeScreenWastage2Body {
  display: flex-column;
  align-items: center;
  text-align: justify;
  font-family: Roboto;
}
.HomeScreen2WastageH2 {
  color: #ffffff;
  font-family: "FiraGo-SemiBold";
  font-weight: 700;
}
.HomeScreen2WastageH1 {
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
}

.HomeScreen2Partners {
  /* align-items: center; */
  /* justify-content: center; */
  display: flex-row;
  /* background-color: #50c0ff; */
  margin-bottom: 20px;
}
.HomeScreen2PartnersH1 {
  text-align: center;
  font-family: "FiraGo-SemiBold";
  font-weight: 900;
  font-size: 45px;
  line-height: 57px;
  color: #ff8298;
  margin: 50px 0;
}

.HomeScreen2PartnersImg {
  /* width: 500px;
  height: 500px; */
  resize: horizontal;
}

.Blog__header {
  width: 100vw;
  padding: 3rem 0;
  background: url("./assets/Blog/Rectangle7.png");
  background-repeat: no-repeat;
  min-height: 320px;
  background-size: cover;

  /* background-color: black; */

  margin-top: 10rem;
  margin-bottom: 5rem;
}
.Blog__header__title {
  font-family: Poppins;
  font-weight: 800;
  font-style: normal;
  font-size: 25px;
  line-height: 37.5px;
  color: black;
}
.Blog__header__body {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.Blog__header > h1 {
  font-size: 25px;
  line-height: 37.5px;
  font-weight: bold;
}

.Blog__header > h2 {
  font-size: 20px;
  line-height: 30px;
  /* font-weight: bold; */
}

/* .flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
} */

.Blog__filters > h1 {
  color: #ff8298;
  font-family: Poppins;
  font-style: normal;
  font-weight: 900;

  font-size: 35px;
  line-height: 52.5px;
  margin-bottom: 3rem;
}

.Blog__filters > ul {
  display: flex;
  /* gap: 2rem; */
  margin-bottom: 4rem;
  padding: 0;
  /* margin-top: 2rem; */
}

.Blog__filter {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 0.5px solid #a59f9f;
  box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 0.5rem 1rem;
  margin: 2rem;
  /* gap: 1rem; */
  cursor: pointer;
  transition: all 200ms ease;
  width: 300px;
}
.Blog__filter.active {
  background-color: #ff8298;
  color: white;
  border: 0;
}
.Blog__filter > img {
  margin-right: 1rem;
}
.Blog__filter:hover {
  background-color: #ff8298;
  color: white;
  border: 0;
}

.Blog__filter > img {
  width: 55px;
  height: 25px;
}

.Blog__filter > h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
}

.Blog__search {
  min-width: 573px;
  background: #ffffff;
  border: 0.5px solid #a59f9f;
  box-sizing: border-box;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.19);
  border-radius: 50px;

  font-style: Poppins;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;

  color: #ff8298;

  padding: 1rem 2rem;
  padding-left: 6rem;

  outline: 0;

  background-image: url("/src/assets/Blog/search.png");
  background-position: 25px;
  background-repeat: no-repeat;
  margin-bottom: 3rem;
  /* margin: 0 auto; */
}
.Blog__search::placeholder {
  color: rgba(0, 0, 0, 0.35);
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
}
.nothing-found {
  font-family: Poppins;
  font-weight: 600;
  font-style: normal;
  font-size: 35px;
  /* line-height: 52.5; */
  color: #ffd600;
}
.error {
  text-align: center;
  margin-top: 90px;
  font-family: Poppins;
  font-weight: 600;
  font-style: normal;
  font-size: 35px;
  /* line-height: 52.5; */
  color: #ffd600;
}
.Blog__posts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  /* gap: 5rem; */
  /* justify-content: center; */
  align-items: flex-start;
  margin-bottom: 5rem;
}

.Blog__post {
  /* background: url("./assets/Blog/BlogPost.png"); */
  width: 628px;
  height: 400px;
  background-color: #c4c4c4;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: space-between;
  /* align-items: center; */
  margin: 2rem;
  background-size: cover;
  background-repeat: no-repeat;
}
.Blog__post > p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
}
.Blog__post > h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
}
.Blog__post > h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  padding-left: 2%;
}
.Blog__post > h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 37px;
  padding-left: 5%;
}
.post-container {
  margin: 100px;
}
.Post__title {
  color: #ff8298;
  font-family: Poppins;
  font-weight: 900;
  font-size: 40px;
  line-height: 60px;
}
.Post__sub-title {
  font-family: Poppins;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
}
.Post__head__img__container {
  width: 100%;
  height: 400px;
  overflow-y: hidden;
}
.Post__head {
  width: 100%;
  /* height: auto; */
  margin: 30px 0;
}
.Post__content {
  margin: 40px 0;
  color: #50c0ff;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 28px;
  line-height: 38.13px;
}
.Post__creater {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
}
.Post__creater__name {
  color: rgba(255, 130, 152, 0.9);
  font-family: Open Sans;
  font-size: 28px;
  line-height: 38px;
}
.Post__time {
  color: rgba(0, 0, 0, 0.29);
  font-family: Open Sans;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
}
@media only screen and (max-width: 1280px) {
  /* .CallToAction__element {
    width: 1069px;
    height: 980px;
  } */

  .SocialIcons-HomeScreen {
  }
  .googlePlay {
    height: 39px;
  }
  .Process__image-1 {
    width: 450px;
    height: 500px;
  }
  .Process__image-2 {
    width: 450px;
    height: 500px;
  }
  .Process__image-3 {
    width: 450px;
    height: 506px;
  }
  .wasteProblem {
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
  }
  .wasteProblem__Uppper {
    flex-direction: column-reverse;
  }

  .wasteProblemImgDiv {
    width: 100vw;
    /* height: 700px; */
    /* height: 100%; */
  }

  .wasteProblemTextDiv {
    max-width: 42rem;
    margin-right: 0;
    margin-bottom: 3rem;
  }
  .solutionTextDiv {
    max-width: 42rem;
    margin-left: 0;
    margin-bottom: 3rem;
  }
  .Culture {
    padding: 1rem 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 1068px) {
  .SocialIcons-HomeScreen {
    right: 25%;
    bottom: 18%;
  }
  .googlePlay {
    height: 39px;
  }
  .Header {
    flex-direction: column;
  }
  .Header > div {
    margin-bottom: 3rem;
  }
  .Process__steps {
    /* gap: 2rem; */
    padding-left: 2rem;
  }
  .Process__step {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .Blog__filters {
    flex-direction: column;
  }
  .Blog__filters > h1 {
    align-self: flex-start;
    margin-left: -20px;
  }

  /* .Blog__search {
    width: 450px;
  } */

  /* .wasteProblemTextDiv {
  }
  .wasteProblemTextDiv > h1 {
  } */
  .foundedImg {
    margin-right: 1rem;
  }

  .foundedTxt {
    /* margin-left: 1rem; */
  }
  .wasteProblemImgDiv {
    /* margin-top: 30px; */
  }
  .legalMain {
    padding: 15px 30px;
  }
  .HomeScreen1-title {
    margin-left: 3rem;
  }

  .HomeScreen1NavImg {
    /* margin: 100px; */
    width: 150px;
    height: 150px;
  }
  .Culture {
    padding: 1rem;
    /* margin-left: 2rem; */
  }

  .CallToAction__element {
    /* position: absolute; */
    /* bottom: 0; */
    /* right: 0; */
    /* background: #ff82a6; */
    width: 100vw;
    /* height: 800px; */
    border-radius: 0;
    margin: 0;
    padding: 0;
  }
  .CallToAction__content {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    padding: 0;
    margin-top: 3rem;
    /* margin: 0; */
    align-items: center;
  }
  .CallToAction__element_Img {
    max-width: 288px;
    max-height: 288px;
    display: block;
    position: relative;
    align-self: center;
    z-index: 10;
  }
  .CallToAction__content > h1 {
    text-align: center;
  }
  .content-container {
    width: 80%;
    /* height: 700px; */
    margin: auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    /* text-align: center; */
  }
  .CallToAction__buttons-container {
    max-width: 216px;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 2rem; */
    z-index: 10;
  }
  .Home__callToAction {
    display: flex;
    flex-direction: column;

    background: none;
  }
}

@media only screen and (max-width: 776px) {
  .SocialIcons-HomeScreen {
    right: 3%;
    bottom: 10%;
  }
  .googlePlay {
    height: 39px;
  }
  .Blog__filters > ul {
    flex-wrap: wrap;
  }
  .Blog__post {
    width: 520px;
  }
  .Blog__search {
    min-width: 500px;
  }
  .post-container {
    margin: 50px;
  }
  /* .CallToAction__element {
    height: 700px;
    width: 800px;
  } */
  .CallToAction__content {
    /* margin-bottom: 2rem; */
    padding-bottom: 2rem;
  }

  .HomeScreen1Content {
    justify-content: center;
  }

  /* .Main__CallToAction__content {
    padding-top: 500px;
  } */
  .Process__steps {
    /* gap: 2rem; */

    padding-left: 10px;
    width: 100vw;
  }

  .Process__step {
  }

  .founded {
    flex-direction: column;
    align-items: center;

    /* margin-bottom: 30px; */
  }

  .foundedTxt {
    /* width: 375px;
    margin-top: 3rem; */
  }
}
@media only screen and (max-width: 768px) {
  .HomeScreen1 {
    margin: 100px 0;
  }
  .Main__header {
    display: none;
  }
  .Burger__header {
    position: fixed;
    width: 100vw;
    top: 0;
    right: 0;
    left: 0;
    background: white;
    display: flex;
    z-index: 999;

    height: 72px;

    flex-direction: column;
    justify-content: flex-start;
    align-items: space-between;
    padding: 1rem 3rem;

    /* gap: 1rem; */
    transition: height 0.3s ease-in-out;
  }
  .Burger__header--hidden {
    top: -200px;
  }
  .Buger__header__logo {
    width: 84px;
    height: 40px;
    /* margin-left: 5rem;
    margin-top: 0.75rem; */
  }
  .Burger__header__extended {
    height: 100vh;
  }
  .Burger__header__extended__Nav {
    margin-top: 1rem;
    /* margin: 0; */
    padding: 0;
    text-decoration: none;
    list-style-type: none;
  }
  .Burger__header__extended__li {
    text-decoration: none;
    font-family: Russo One;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    color: black;
  }
  .Burger__header__extended__li:hover {
    color: black;
  }
  .Burger__header__extended__li--is-selected {
    color: #ff8298;
  }
  .Burger__header__extended__li--is-selected:hover {
    color: #ff8298;
  }

  .Footer {
    width: 100%;
  }
  .footer-logo-container {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .footer-logo {
    width: 100px;
  }
  .footer-SocialIcons {
    display: flex;
    justify-content: center;
  }
  .footer-icon {
    font-size: 1.75rem;
  }
  .footer-address {
    text-align: center;
    transform: translate(0);
  }

  /*
   * Elastic
   */
  .hamburger {
    /* padding: 15px 15px; */
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
  }
  .hamburger:hover {
    opacity: 0.7;
  }
  .hamburger.is-active:hover {
    opacity: 0.7;
  }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #000;
  }

  .hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
  }

  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
  }
  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }
  .hamburger-inner::before,
  .hamburger-inner::after {
    content: "";
    display: block;
  }
  .hamburger-inner::before {
    top: -10px;
  }
  .hamburger-inner::after {
    bottom: -10px;
  }

  .hamburger--elastic .hamburger-inner {
    top: 2px;
    transition-duration: 0.275s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .hamburger--elastic .hamburger-inner::before {
    top: 10px;
    transition: opacity 0.125s 0.275s ease;
  }
  .hamburger--elastic .hamburger-inner::after {
    top: 20px;
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .hamburger--elastic.is-active .hamburger-inner {
    transform: translate3d(0, 10px, 0) rotate(135deg);
    transition-delay: 0.075s;
  }
  .hamburger--elastic.is-active .hamburger-inner::before {
    transition-delay: 0s;
    opacity: 0;
  }
  .hamburger--elastic.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-270deg);
    transition-delay: 0.075s;
  }
  /*
   * Elastic-end
   */
  .Job__post_content {
    margin: 2rem;
  }
  .HomeScreenWastage2Body {
    text-align: center;
    margin-top: 20px;
    padding: 0 20px;
  }
  .solutionTextDiv {
    margin-left: 5vw;
    margin-right: 5vw;
  }
  .wasteProblemTextDiv {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}

@media only screen and (max-width: 500px) {
  .SocialIcons-HomeScreen {
    right: 3%;
    bottom: 10%;
  }
  .googlePlay {
    display: none;
  }
  .Blog__search {
    min-width: 350px;
  }
  .Blog__search::placeholder {
    color: transparent;
  }
  .post-container {
    margin: 10px;
  }
  .HomeScreenWastage2Body {
    text-align: center;
    margin-top: 20px;
    padding: 0 20px;
  }
  .HomeScreen1Content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* .Home__callToAction {
    background-image: none;
    background-position: 0 1000px 0 0;
    background-attachment: fixed;
  } */
  /* .Process__steps {
    padding-left: 10%;
    padding-right: 10%;
  } */
  .Process__step-content {
    padding-right: 10%;
    /* padding-left: 10%; */
  }
  .Process__step {
    width: 100vw;
    margin: 20px;
  }
  .Process__counter {
    margin-left: 10%;
  }
  .Process__counter {
    margin-left: 10%;
  }
  .Process__counter {
    margin-left: 10%;
  }
  .Process__image {
    width: 350px;
    height: 394px;
  }
  .legalMain {
    padding: 10px 20px;
  }
  .Jobs__content {
    margin: 2rem;
  }
  .Culture > img {
    max-width: 350px;
    max-height: 260px;
  }
  .JobsOpening {
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
  }
  .JobsOpening > Table > tbody {
    float: left;
    width: 100%;
    overflow-x: scroll;
    padding-left: 10vw;
    padding-right: 10vw;
  }
  .JobsOpening > Table {
    margin-left: 5vw;
    margin-right: 5vw;
  }
  .JobsOpening > h1 {
    text-align: center;
  }
  .Jobs__header__button {
    max-width: 350px;
  }
  .Culture__content > h1 {
    margin-left: 3rem;
  }
  .Job__post_content > button {
    width: 320px;
  }
}
